@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

p, h1, h2, h3, h4, a {
    font-family: Montserrat;
}

.item-projeto{
    height: 75vh;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.hidden, .seta, .setaFinal {
    visibility: hidden;
}

.hidden {
    margin-bottom: -110%;
}

.item-inicio {
    height: 50%;
    margin: auto;
    margin-bottom: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    background: rgb(148 163 184);
    
}


.item-final{
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    background: rgb(148 163 184);
}

.img-Item {
    margin: auto;
    margin-top: .5%;
    margin-bottom: .5%;
    height: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.img-Inicio {
    margin: auto;
    height: 100%;
    width: 100%;
}

.tituloItem{
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bodyItem {
    margin-top: -3%;
    display: flex;
    width: 100%;
    height: 70%;
}

.sideItemFinal {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-Body {
    margin: auto;
    width: 95%;
    height: 100%;
}

.footItem {
    height: 5%;
    width: 90%;
    margin: auto;
    margin-top: 5.5%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.stackItem {
    height: 7.5%;
    width: 90%; 
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}


@media (min-width: 640px){


    .item-projeto {
        height: fit-content;
        width: 100%;
    }

    .hidden {
        margin-bottom: -30%;
    }

    .item-inicio{
        height: 40vh;
        width: 40vw;
        margin-bottom: 15%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item-inicio:hover{
        transform: scale(110%);
        transition-duration: 750ms;
        box-shadow: 15px 15px 20px -5px rgb(251 207 232);
    }

    .item-final{
        margin-top: -50px;
        height: 50vh;
        margin-bottom: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55vw;
    }

    .item-final:hover{
        transform: scale(110%);
        transition-duration: 750ms;
        box-shadow: 15px 15px 20px -5px rgb(251 207 232);
    }

    .tituloItem {
        margin-top: 1.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        width: 100%;
        background: transparent;
        text-transform: capitalize;
    }

    .bodyItem {
        margin: auto;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        display: flex;
        flex-direction: row;
        justify-content: justify-between;
        align-items: center;
        height: 45%;
        width: 100%;
        background: transparent;
    }

    .footItem {
        height: 20%;
        width: 100%;
        background: transparent;
        text-align: center;
    }  
    
    .stackItem {
        margin-bottom: 1.5%;
        height: 15%;
        width: 100%;
        background: transparent;
        text-align: center;
    }

    .linkItem:hover {
        color: lightgray;
    }

    .sideItem {
        cursor: pointer;
        margin-right: 1%;
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.281);
        border-radius: 100%;
    }

    .sideItemFinal {
        cursor: pointer;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.281);
        border-radius: 100%;
        justify-content: center;
        align-items: center;
    }

    .main-Body {
        margin: auto;
        width: 100%;
        height: 100%;
    }


    .img-Item {
        width: 100%;
        height: 100%;
        margin-left: 12.5%;
    }

    .img-Inicio {
        margin: auto;
        height: 245px;
        width: 245px;
        justify-content: center;
        align-items: center;
    }
}
