@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Pop {
    position: relative;
    margin: auto;
    margin-top: -125%;
    height: 50%;
    width: 90%;
    background: rgb(184, 148, 169);
    z-index: 10;
    border-radius: 8px;
    border-color: black;
    border-width: 1.5px;
    font-family: Montserrat;
}

.topPop {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin-left: 7.5%;
    font-weight: bold;
}


.closePop {
    position: relative;
    margin-bottom: 5%;
    margin-right: 0%;
    cursor: pointer;
    z-index: 10;
}


.mainPop {
    width: 100%;
    height: 60%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.botPop {
    width: 80%;
    height: 15%;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 640px) {
    .Pop {
        margin-top: 0%;
        position: relative; top: -100%;
        height: 34%;
        width: 34%;
    }

    .topPop {
        font-size: 24px;
    }

    .mainPop {
        width: 95%;
        font-size: 16px;
    }

    .botPop {
        width: 80%;
        font-size: 12px;
    }
}